:root {
    --gradient:
        linear-gradient(95.52deg, #051432 15.68%, #000000 86.76%);
}

#headerAbout {
    background-color: var(--blue800);


    width: 100%;
    height: 520px;
    padding-top: 75px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

    overflow: hidden;
}

#aContent {
    z-index: 1;
    justify-content: start;
}

#aBackground {
    position: absolute;
    height: 100%;
    width: 60%;
    top: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    background-image: url('../../assets/images/aboutimg.png');
}

/* About Content */
#aboutContent {
    padding-top: 82px;
    padding-bottom: 150px;
    flex-direction: column;
    align-items: start;
    position: relative;
}

#whoWeAre {
    max-width: 690px;

}

#wwa-title {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 12px;
}

#whoWeAre p {}

#wwa-title img {
    width: 95px;
}

#wwa-title img:last-child {
    transform: rotate(180deg);
}

/* 
 Our Values */
#ourValues {
    margin-top: 86px;
    display: flex;
    flex-direction: column;
}

#ov-title {
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 523px;
    margin-bottom: 48px;
}

#ov-values {
    display: flex;
    gap: 18px;
    justify-content: center;
}


/* Values Card */

.valueCard {
    width: 27vw;
    min-height: 254px;
    background-color: white;
    border-radius: 24px;
    box-sizing: border-box;
    padding: 30px 35px;
}

.vc-img {
    margin-bottom: 12px;
}

.vc-title {
    line-height: 35px;
    margin-bottom: 8px;
    font-size: 28px;
    text-align: start;
}

/* Logo */

#logoShape {
    position: relative;
    right: 8%;
    user-select: none;

}

#logoBackground {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 545px;
    height: 545px;
    background-image: var(--gradient);
    position: absolute;
    top: 116px;
    right: 12vw;
    background-size: 100%;
    transition: all .4s;
}

#logoBackground:hover {
    background-size: 200%; 
    background-position-x: right;
}


@media (max-width: 1520px){
    #logoBackground{
        width: 300px;
        height: 300px;
    }
    #logoShape{
        width: 200px;
        height: 200px;
    }
} 
@media (max-width: 1220px) {
    #logoShape{
        width: 150px;
        height: 150px;
    }
    #logoBackground{
        width: 250px;
        height: 250px;
        top: 450px;
    }
    .vc-title {
        font-size: 22px;
    }

    .vc-content {
        font-size: 16px;
    }
}
@media (max-width: 876px){
    #logoBackground{
        display: none;
    }
}
@media (max-width: 760px) {

    #headerAbout {
        height: 360px;
    }

    #aBackground {
        width: 80%;
        opacity: .6;
    }

    #wwa-title {
        align-items: flex-start;
        flex-direction: column;
    }

    #wwa-title img:last-child {
        display: none;
    }

    #ov-values {
        flex-wrap: wrap;
    }

    .valueCard {
        width: 100%;
    }
}